
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 400px; 
    height: 400px; 
    border: 2px solid #333;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large; 
}

.white {
    background-color: #ffffff;
}

.black {
    background-color:pink;
}